body{
  background-color:deepskyblue;
  background-image: url('https://piskel-imgstore-b.appspot.com/img/f6190bd7-097b-11ef-bbb2-d30b9e7094e1.gif');
  background-size: 100%;
  background-repeat: no-repeat;
}
.container{
  max-width: 1300px;
}

.content{
  position: absolute;
  padding: 10px;
  background-color: blue;
  background-size: 100%;
  background-image: url("https://cdn.pixilart.com/photos/large/6de6c5e28263313.png");
  border-right: darkgoldenrod 5px solid;
  width: 600px;
  height: auto;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.Buttons{
  margin:10px;
}
a.button1 {
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 60px;
  width: auto;
  height: 50px;
  font-size: 40px;
  transition-duration: 0.7s;
  border-style: solid;
  border-color: grey;
  border-radius: 12px;
  padding: 4px;
  background-color: cadetblue;
  color:white;
  font-family: 'Pixelify Sans';
}
.button1:hover {
  width: auto;
  height: 60px;
  text-align: center;
  font-size: 50px;
}
.p1{
  font-family: 'Pixelify Sans';
  font-size: 50px;
  text-align: center;
  border: black solid 3px;
  border-radius: 12px;
  background-color: cornflowerblue;
}
.input-form-row{
  display: flex;
}
.input-container{
  margin-bottom: 16px;
}
.input-container.wide input{
  width: 325px;
}

.input-form-row .input-container{
  margin-right: 16px;
}
.helper-text{
  font-size: 12px;
  color: #71717A;
  margin-top: 4px
}
.error{
  color: darkred;
  font-weight: bold;
}
.button.primary{
  background: #312E81;
  color: white;
  border-color: #312E81;
}
label {
  display: block;
  color: #3F3F46;
  font-weight: bold;
  margin-bottom: 4px;
}