doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style1.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pixelify Sans')
    body
        div.container
            div.center
                div.row
                    div.content
                        h1 Juan's Taco Truck
                        br
                        form(action="/score" method="POST")
                            button.colorButton1(type="submit")
                                img(src="https://openclipart.org/image/800px/337526" height=200 width=300)
                        br
                        div(id="randomStuff")
                            h3#score(style="color:greenyellow") Money:$#{score}
                            div.row
                                p#events
                        br
                        br

                        h3 Updates:
                        ol
                            li New User Technology!
                            br
                            li New Leaderboard system
                            br
                            li Same as before-ish

                    div.content2
                        div.column
                            h1(style="text-decoration: underline") Upgrades
                            div.row
                                p#mult Tacos Sold per Click: #{mult1}
                                form(action="/upgrade" method="POST")
                                    button.colorButton2(type="submit") Buy Upgrade ($20)
                            br
                            div.row
                                p#pfp Toppings Quality Multiplier: #{bonus}
                                form(action="/bonus" method="POST")
                                    button.colorButton2(type="submit") Buy Upgrade ($2000)
                            br
                            br
                            div.row
                                form(action="/save" method="POST")
                                    button.colorButton(type="submit") Save

                                form(action="/reset" method="POST")
                                    button.colorButton(type="submit" style="background-color: red") RESET
                            br
                            br
                            br
                            br
                            br
                            br
                            div.row
                                a.Button3(href='/' style="background-color: greenyellow") Home Page
                                a.Button3(href='/logout' style="background-color: red") Log Out
                            br
                            div.center#total Total Earnings per Click: #{mult1}
