doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style1.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pixelify Sans')
  body
    block content
        div.container
            div.center
                div.row
                    div.content
                        h1 Juan's Taco Truck
                        br
                        div